[submodule "Nevermore"]
	branch = version2
	path = Nevermore
	url = https://github.com/Quenty/NevermoreEngine
[submodule "t"]
	path = t
	url = https://github.com/osyrisrblx/t
[submodule "roact"]
	path = roact
	url = https://github.com/Roblox/roact
