[submodule "Nevermore"]
	branch = version2
	path = Nevermore
	url = https://github.com/Quenty/NevermoreEngine
[submodule "t"]
	path = game/ReplicatedStorage/Shared/t
	url = https://github.com/osyrisrblx/t
[submodule "roact"]
	path = game/StarterPlayer/StarterPlayerScripts/GameUIModules/Roact
	url = https://github.com/Roblox/roact
[submodule "ProfileService"]
	path = ProfileService
	url = https://github.com/MadStudioRoblox/ProfileService/
